<div class="container-fluid">
  <app-header></app-header>
  <div class="container mt-6">
    <section class="section mb-3">
      <div class="row">
        <div class="col-12 col-md-3 col-xl-3 news-left">
          <ng-container *ngFor="let item of newsLeft; let i=index">
            <div class="article-item d-flex">
              <p class="article-thumbnail mr-2">
                <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">
                  <img
                    src="https://znews-photo.zadn.vn/w210/Uploaded/ngotgs/2019_11_11/Screen_Shot_20191111_at_110440_AM.jpg"
                    alt="Con trai lay do khong tra tien, bo danh nhan vien hinh anh">
                </a>
              </p>
              <p class="thumbnail-title">
                <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Con trai lấy đồ không trả
                  tiền, bố đánh nhân viên</a></p>

            </div>
          </ng-container>
        </div>
        <div class="col-12 col-md-6 col-xl-6 news-center">
          <div class="article-item">
            <p class="article-thumbnail mr-2">
              <a href="/mua-hang-tram-mm-do-bao-so-6-nakri-post1011851.html">
                <img src="https://znews-photo.zadn.vn/w960/Uploaded/Sotntb/2019_11_10/anhnah.jpg"
                     alt="Mua hang tram mm do bao so 6 - Nakri hinh anh">
              </a>
            </p>
            <p class="thumbnail-title">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Mưa hàng trăm mm do bão số 6
                - Nakri</a></p>
            <p class="thumbnail-summary">Cơ quan khí tượng ghi nhận lượng mưa lớn từ 200 mm đến trên 300 mm ở khu vực
              Tây
              Nguyên và Nam Trung Bộ. Nguy cơ lũ, sạt lở đất và ngập lụt tiếp tục được cảnh báo.</p>
          </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3 news-right">
          <ng-container *ngFor="let item of newsRight; let i=index">
            <div class="article-item">
              <p class="article-thumbnail">
                <a href="/cac-du-an-bt-lien-quan-sai-pham-cua-lanh-dao-khanh-hoa-post996352.html">
                  <img src="https://znews-photo.zadn.vn/w480/Uploaded/nugzrd/2019_10_01/1.jpg"
                       alt="Cac du an BT lien quan sai pham cua lanh dao Khanh Hoa hinh anh">
                </a>
              </p>
              <p class="thumbnail-title">
                <a href="/cac-du-an-bt-lien-quan-sai-pham-cua-lanh-dao-khanh-hoa-post996352.html">Các dự án BT liên quan
                  sai phạm của lãnh đạo Khánh Hòa</a>
              </p>

            </div>
          </ng-container>
        </div>
      </div>
    </section>
    <section id="section-multimedia" class="section">
      <header class="section-title">
        <h3>MULTIMEDIA</h3>
        <ul>
          <li><a href="/video">VIDEO</a></li>
          <li><a href="/series/long-form.html">LONGFORM</a></li>
          <li><a href="/series/voices-goc-nhin.html">VOICES</a></li>
          <li><a href="/series/lens.html">LENS</a></li>
          <li><a href="/series/trac-nghiem-quizz.html">QUIZZ</a></li>
        </ul>
      </header>
      <div class="section-content">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="article-list multimedia-layout">
              <div class="article-item type-picture type-hasvideo picked-multi short">
                <p class="thumbnail">
                  <a href="/cong-phuong-tap-cung-quang-hai-khi-vua-hoi-quan-post1012089.html">
                    <img src="https://znews-photo.zadn.vn/w660/Uploaded/natmrb/2019_11_11/NGO_7644.jpg" class=" unveil">
                  </a>
                </p>
                <header>
                  <p class="article-title">
                    <a href="/cong-phuong-tap-cung-quang-hai-khi-vua-hoi-quan-post1012089.html">Công Phượng tập cùng
                      Quang
                      Hải khi vừa hội quân</a>
                  </p>
                </header>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="article-item">
              <p class="article-thumbnail">
                <a href="/con-gai-mum-mim-cua-thao-trang-va-phan-thanh-binh-post1012051.html">
                  <img
                    src="https://znews-photo.zadn.vn/w480/Uploaded/unvjuas/2019_11_11/74477095_2860351493975432_1762377797700943872_o_1.jpg"
                    class="photo">
                </a>
              </p>
              <header>
                <p class="article-title">
                  <a style="word-break: break-word"
                     href="/con-gai-mum-mim-cua-thao-trang-va-phan-thanh-binh-post1012051.html">Con gái mũm mĩm của
                    Thảo Trang và Phan Thanh Bình </a>
                </p>
              </header>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mt-4">
      <header class="section-title">
        <h3>DÀNH CHO BẠN</h3>
      </header>
      <div class="news-for-you col-12 col-md-10 col-xl-9">
        <ng-container *ngFor="let item of newsForUser; let i=index">
          <div class="article-item d-flex mb-3">
            <p class="article-thumbnail mr-3" style="height: 180px;">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">
                <img height="170px"
                     src="https://znews-photo.zadn.vn/w210/Uploaded/ngotgs/2019_11_11/Screen_Shot_20191111_at_110440_AM.jpg"
                     alt="Con trai lay do khong tra tien, bo danh nhan vien hinh anh">
              </a>
            </p>
            <div class="thumbnail-title">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">HLV Troussier chỉ ra điều
                bóng
                đá Việt Nam cần học Nhật Bản</a>
              <div style="margin-top: -17px">
                <span class="time">2 gio truoc<span class="category ml-2">the thao</span></span>
              </div>
              <div>
                <p class="short-title">Thuyền trưởng của U19 Việt Nam từng có thời gian gắn bó với bóng đá Nhật Bản. Ông
                  chỉ ra nguyên nhân chính giúp U19 Nhật Bản có sức mạnh vượt trội.</p>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </section>
    <div class="row">
      <ng-container *ngFor="let item of listCategory">
        <div class="col-12 col-md-3">
          <section class="section category">
            <div class="box-category">
              <header class="section-title">
                <h3 class="category-title">PHÁP LUẬT</h3>
              </header>
              <div class="article-item pb-4">
                <p class="article-thumbnail">
                  <a href="/nguoi-dan-ong-xung-thieu-ta-quan-doi-sau-tai-nan-post1011973.html">
                    <img src="https://znews-photo.zadn.vn/w480/Uploaded/lce_mjccc/2019_11_11/Screenshot_138.jpg"
                         class=" unveil">
                  </a>
                </p>
                <div class="thumbnail-title">
                  <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">HLV Troussier chỉ ra điều
                    bóng
                    đá Việt Nam cần học Nhật Bản</a>
                </div>
              </div>
              <div class="article-item d-flex">
                <p class="article-thumbnail mr-2">
                  <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">
                    <img
                      src="https://znews-photo.zadn.vn/w210/Uploaded/ngotgs/2019_11_11/Screen_Shot_20191111_at_110440_AM.jpg"
                      alt="Con trai lay do khong tra tien, bo danh nhan vien hinh anh">
                  </a>
                </p>
                <p class="thumbnail-title title">
                  <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Con trai lấy đồ không trả
                    tiền, bố đánh nhân viên</a></p>
              </div>
              <div class="article-item d-flex">
                <p class="article-thumbnail mr-2">
                  <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">
                    <img
                      src="https://znews-photo.zadn.vn/w210/Uploaded/ngotgs/2019_11_11/Screen_Shot_20191111_at_110440_AM.jpg"
                      alt="Con trai lay do khong tra tien, bo danh nhan vien hinh anh">
                  </a>
                </p>
                <p class="thumbnail-title title">
                  <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Con trai lấy đồ không trả
                    tiền, bố đánh nhân viên</a></p>
              </div>
            </div>
          </section>
        </div>
      </ng-container>

    </div>
  </div>
</div>
