<div class="container-fluid">
  <app-header></app-header>
  <div class="container mt-6">
    <section class="section mb-3">
      <div class="row">
        <div class="col-12 col-md-3 col-xl-3 news-left">
          <ng-container *ngFor="let item of newsLeft; let i=index">
          <div class="article-item d-flex">
            <p class="article-thumbnail mr-2">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">
                <img
                  src="https://znews-photo.zadn.vn/w210/Uploaded/ngotgs/2019_11_11/Screen_Shot_20191111_at_110440_AM.jpg"
                  alt="Con trai lay do khong tra tien, bo danh nhan vien hinh anh">
              </a>
            </p>
            <p class="thumbnail-title">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Con trai lấy đồ không trả
                tiền, bố đánh nhân viên</a></p>

          </div>
          </ng-container>
        </div>
        <div class="col-12 col-md-6 col-xl-6 news-center">
          <div class="article-item">
            <p class="article-thumbnail mr-2">
              <a href="/mua-hang-tram-mm-do-bao-so-6-nakri-post1011851.html">

                <img src="https://znews-photo.zadn.vn/w960/Uploaded/Sotntb/2019_11_10/anhnah.jpg"
                     alt="Mua hang tram mm do bao so 6 - Nakri hinh anh">
              </a>
            </p>
            <p class="thumbnail-title">
              <a href="/con-trai-lay-do-khong-tra-tien-bo-danh-nhan-vien-post1011956.html">Mưa hàng trăm mm do bão số 6
                - Nakri</a></p>
            <p class="thumbnail-summary">Cơ quan khí tượng ghi nhận lượng mưa lớn từ 200 mm đến trên 300 mm ở khu vực Tây
              Nguyên và Nam Trung Bộ. Nguy cơ lũ, sạt lở đất và ngập lụt tiếp tục được cảnh báo.</p>
          </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3 news-right">
          <ng-container *ngFor="let item of newsRight; let i=index">
          <div class="article-item">
            <p class="article-thumbnail">
              <a href="/cac-du-an-bt-lien-quan-sai-pham-cua-lanh-dao-khanh-hoa-post996352.html">
                <img src="https://znews-photo.zadn.vn/w480/Uploaded/nugzrd/2019_10_01/1.jpg" alt="Cac du an BT lien quan sai pham cua lanh dao Khanh Hoa hinh anh">
              </a>
            </p>
            <p class="thumbnail-title">
              <a href="/cac-du-an-bt-lien-quan-sai-pham-cua-lanh-dao-khanh-hoa-post996352.html">Các dự án BT liên quan sai phạm của lãnh đạo Khánh Hòa</a>
            </p>

          </div>
          </ng-container>
        </div>
      </div>
    </section>
    <section id="section-multimedia" class="section">
      <header class="section-title">
        <h3>MULTIMEDIA</h3>
        <ul>
          <li><a href="/video">VIDEO</a></li>
          <li><a href="/series/long-form.html">LONGFORM</a></li>
          <li><a href="/series/voices-goc-nhin.html">VOICES</a></li>
          <li><a href="/series/lens.html">LENS</a></li>
          <li><a href="/series/trac-nghiem-quizz.html">QUIZZ</a></li>
        </ul>
      </header>
    </section>
  </div>
</div>
