<div class="container-fluid">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <a href="http://news.ongdu.com/f3/co-gai-viet-trung-tuyen-12-truong-dai-hoc-o-my-5995/"><img src="http://news.ongdu.com/uploaded/x5995.jpg.pagespeed.ic.S0IJL0IraO.webp" class="img-responsive img-rounded" id="loadimgsuccess"></a>
            <h4><a href="http://news.ongdu.com/f3/co-gai-viet-trung-tuyen-12-truong-dai-hoc-o-my-5995/">Cô gái Việt trúng tuyển 12 trường đại học ở Mỹ</a></h4>
            <p align="justify">Một nữ sinh Việt Nam vừa nhận được thư trúng tuyển của 12 trường ĐH ở Mỹ, trong đó có 3 trường ĐH hàng đầu thế giới</p>
          </div>
          <div class="col-md-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel-footer">
              <div class="row">
                <div class="col-12">
                  <!--content-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel-footer">
              <div class="row">
                <div class="col-12">
                  <!--content-->
                </div>
              </div>
            </div>
          </div>
          <!--show all category-->
          <div class="category">
            <div class="row">
              <div class="col-12">
                <!--title-->
              </div>
            </div>
            <!--content of title-->
            <div class="row">
              <div class="col-md-5">
                <!--content-->
              </div>
              <div class="col-md-7">
                <!--content-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
