<div class="container-fluid">
  <app-header></app-header>
  <div class="col-12 mt-5">
    <div class="card mt-7">
      <div class="card-header">
        <h5>
          Quản lý bài viết <a title="Tạo Bài viết" class="btn btn-success float-right" [routerLink]="['/admin']">
          Tạo bài viết
        </a>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive-sm table-responsive-md table-responsive-lg">
              <table id="example" class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                  <th class="text-center">id</th>
                  <th class="text-center">Hình ảnh</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Ngày tạo</th>
                  <th class="text-center">Ngày cập nhật</th>
                  <th class="text-center">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of news; let i = index">
                  <td class="text-center">{{item.id}}</td>
                  <td class="text-center"><img [src]="item.image" alt="{{item.title}}" width="100px" height="100px">
                  </td>
                  <td class="text-center">{{item.title}}</td>
                  <td class="text-center">{{item.created_at}}</td>
                  <td class="text-center">{{item.updated_at}}</td>
                  <td class="text-center">
                    <a title="Chỉnh sửa" class="btn btn-success" [routerLink]="['/admin', item?.id]">
                      <i class="fa fa-wrench" aria-hidden="true"></i>
                    </a>
                    <a title="Xoá" class="btn btn-success" (click)="deleteNews(item, i)"
                      style="margin-right: 2px;"><i class="fa fa-trash" aria-hidden="true">
                    </i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
