<footer *ngIf="show">
  <div class="page-wrapper">
    <div class="info">
      <a class="logo" [routerLink]="['']">
        <img src="http://localhost:80/news-server/storage/app/photos/news.jpg" width="130">
      </a>
      <p class=" copyright">
        <span style="display:block;padding-bottom: 0;margin-bottom: 0;padding-top: 10px;line-height: 10px;">Thuộc Hội Xuất bản Việt Nam</span>
      </p>
    </div>
    <ul class="links">
      <li><a href="javascript:void(0);">Giới thiệu</a></li>
      <li><a href="javascript:void(0);">Liên hệ</a></li>
      <li><a href="javascript:void(0);">Tuyển dụng</a></li>
      <li><a href="javascript:void(0);">Quảng cáo</a></li>
    </ul>
  </div>
</footer>
