<footer *ngIf="show">
  <div class="page-wrapper">
    <div class="info">
      <a class="logo" [routerLink]="['']">
      </a>
      <p class="copyright">
        <span style="display:block;padding-bottom: 0;margin-bottom: 0;padding-top: 10px;line-height: 10px; font-size: 16px">Trang chia sẻ tin tức</span>
      </p>
    </div>
    <ul class="links">
      <li><a href="javascript:void(0);">Giới thiệu</a></li>
      <li><a href="javascript:void(0);">Liên hệ</a></li>
      <li><a href="javascript:void(0);">Tuyển dụng</a></li>
      <li><a href="javascript:void(0);">Quảng cáo</a></li>
    </ul>
  </div>
</footer>
