<div class="container-fluid">
  <app-header></app-header>
  <div class="container mt-6" *ngIf="loadingDone">
    <section id="category-header" class="section">
      <h2>
        <a *ngIf="firstNews?.id" [routerLink]="['/page', categoryId]">{{firstNews?.category_name}}</a>
      </h2>
    </section>
    <ng-container>
      <section class="section">
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="article-list multimedia-layout">
                <div class="article-item type-picture type-hasvideo picked-multi short">
                  <p class="thumbnail">
                    <a [routerLink]="['/news', firstNews?.id]">
                      <img (load)="loadedData()" [src]="firstNews?.image" class="img-title" alt="{{firstNews?.title}}">
                    </a>
                  </p>
                  <header style="width: 100%" [ngClass]="{'backgroud-header' : loaded}">
                    <p class="article-title" style="font-size: 26px">
                      <a
                        [routerLink]="['/news', firstNews?.id]">{{firstNews?.title}}</a>
                    </p>
                  </header>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="article-item">
                <p class="article-thumbnail">
                  <a [routerLink]="['/news', secondNews?.id]">
                    <img [src]="secondNews?.image" alt="{{secondNews?.title}}" class="photo" style="min-height: 160px">
                  </a>
                </p>
                <header>
                  <p class="article-title">
                    <a style="word-break: break-word"
                       [routerLink]="['/news', secondNews?.id]">{{secondNews?.title}}</a>
                  </p>
                </header>
              </div>
            </div>
          </div>
          <div class="row">
            <ng-container *ngFor="let item of listNewsSecond">
              <div class="col-12 col-md-3">
                <div class="article-item">
                  <p class="article-thumbnail">
                    <a [routerLink]="['/news', item?.id]">
                      <img [src]="item?.image" alt="{{item?.title}}" class="photo">
                    </a>
                  </p>
                  <header>
                    <p class="article-title">
                      <a style="word-break: break-word"
                         [routerLink]="['/news', item?.id]">{{item.title}}</a>
                    </p>
                  </header>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </section>
      <section class="section mt-4">
        <header class="section-title">
          <h3>Mới Nhất</h3>
        </header>
        <div class="news-for-you col-12 col-md-10 col-xl-9">
          <ng-container *ngFor="let item of listNews">
            <div class="article-item d-flex mb-3">
              <p class="article-thumbnail mr-3" style="height: 180px; max-width: 330px; min-width: 130px">
                <a [routerLink]="['/news', item?.id]">
                  <img style="max-width: 330px; height: 170px" [src]="item?.image" alt="{{item?.title}}">
                </a>
              </p>
              <div class="thumbnail-title">
                <a [routerLink]="['/news', item?.id]">{{item?.title}}</a>
                <div style="margin-top: -17px">
                  <span class="time">{{item?.updated_at}}<span class="category ml-2">{{categoryInfo?.category_name}}</span></span>
                </div>
                <div>
                  <p class="short-title">{{item?.short_intro}}</p>
                </div>
              </div>
            </div>

          </ng-container>
        </div>
      </section>
    </ng-container>
  </div>

</div>
<app-footer [show]="loadingDone"></app-footer>
