<!--&lt;!&ndash;<app-header-layout></app-header-layout>&ndash;&gt;-->
<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col col-3" id="side-bar">-->
      <!--&lt;!&ndash;<app-side-bar></app-side-bar>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col col-9" id="right-content">-->
      <!--<div class="row">-->
        <!--<div class="col col-12">-->
          <!--&lt;!&ndash;<app-sub-nav routerLink="/page02" inputTitle="the title"></app-sub-nav>&ndash;&gt;-->
          <!--&lt;!&ndash;<a routerLink="/page01" routerLinkActive="active">Heroes</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<app-sub-nav [inputTitle]="createTitle()"></app-sub-nav>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div id="loading"></div>
<router-outlet></router-outlet>

