<div class="content">
  <div class="login-form" *ngIf="loginPage">
    <form class="">
      <div class="lock-icon-wrap">
        <div class="lock-icon rounded-circle">
          <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        </div>
      </div>
      <h2 class="text-center">Form Đăng Nhập</h2>
      <div class="form-group">
        <span class="text-danger" *ngIf="formErrors.email">{{formErrors.email}}</span>
        <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="loginInfo.email"
               required="required">
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="formErrors.password">{{formErrors.password}}</span>
        <input type="password" class="form-control" name="password" placeholder="Password"
               [(ngModel)]="loginInfo.password" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="checkLogin()">Đăng nhập</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox"> Ghi Nhớ</label>
        <a href="#" class="pull-right">Quên tài khoản?</a>
      </div>
    </form>
    <p class="text-center small">Chưa có tài khoản? <a class="cursor-pointer" (click)="goToRegisterPage(true)">Đăng kí
      tại đây!</a></p>
  </div>
  <div class="login-form" *ngIf="!loginPage">
    <form class="" autocomplete="off">
      <div class="lock-icon-wrap">
        <div class="lock-icon rounded-circle">
          <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        </div>
      </div>
      <h2 class="text-center">Tạo tài khoản</h2>
      <div class="form-group">
        <span class="text-danger" *ngIf="formErrorsRegister.userName">{{formErrorsRegister.userName}}</span>
        <input type="text" class="form-control" name="userName" placeholder="User Name"
               [(ngModel)]="registerInfor.userName" required="required">
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="formErrorsRegister.email">{{formErrorsRegister.email}}</span>
        <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="registerInfor.email"
               required="required">
      </div>
      <div class="form-group">
        <span class="text-danger" *ngIf="rePasswordError">{{rePasswordError}}</span>
        <span class="text-danger" *ngIf="!rePasswordError && formErrorsRegister.password">{{formErrorsRegister.password}}</span>
        <input type="password" class="form-control" name="password" placeholder="Password"
               [(ngModel)]="registerInfor.password" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password"
               [(ngModel)]="rePassword" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="createUser()">Đăng kí</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox"> Ghi nhớ</label>
        <a href="#" class="pull-right">Quên mật khẩu?</a>
      </div>
    </form>
    <p class="text-center small">Đã có tài khoản? <a class="cursor-pointer" (click)="goToRegisterPage()">Đăng nhập tại
      đây!</a></p>
  </div>
</div>
